{% extends "base.html" %}

{% block includes %}
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
{% endblock %}


{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
           {{ message }}
        {% endfor %}
     {% endif %}
  {% endwith %}
  <body>
    <section class="section is-large">
      <h1 class="title is-1">Kajetan Knopp</h1>
      <h2 class="subtitle is-1">
        <span id="professions"></span><br/>
        Even though, I specialize in the fields mentioned above, I have a 
        broad interest and extensive knowledge in many other fields of 
        computer science and mathematics. I am always eager to learn new 
        things and I am not afraid of challenges, so always feel free to 
        contact me.
      </h2>
    </section>
  </body>

  <script>
    var typed = new Typed('#professions', {
      strings: ['Solving and optimizing complex models', 'Researching networks, combinatorial optimization, quantum computing, statistics and AI', 'Developing in Julia, Rust, C, C++, Python, R and Haskell'],
      typeSpeed: 30,
      backSpeed: 50,
      loop: true
    });
  </script>
{% endblock %}
